<div>
  {{#each empleados}}
    <p>Rut: {{this.rut}}</p>
    <p>Nombre: {{this.nombre}}</p>
    <p>Sexo: {{this.sexo}}</p>
    <p>Cargo: {{this.cargo}}</p>
    <p>Área: {{this.area}}</p>
    <p>Departamento: {{this.departamento}}</p>
    <p>Dirección: {{this.direccion}}</p>
    <p>Teléfono: {{this.telefono}}</p>
    <p>Fecha de ingreso: {{this.fecha_ingreso}}</p>
  {{/each}}
</div>