<div>
  {{#with empleadoDataValues}}
    <p>Rut: {{this.rut}}</p>
    <p>Nombre: {{this.nombre}}</p>
    <p>Sexo: {{this.fecha_ingreso}}</p>
    <p>Cargo: {{this.genero}}</p>
    <p>Área: {{this.cargo}}</p>
    <p>Departamento: {{this.salario}}</p>
    <p>Dirección: {{this.region_id}}</p>
    <p>Fecha de ingreso: {{this.direccion}}</p>
    <p>Teléfono: {{this.telefono}}</p>
  {{/with}}
</div>